language: java

jdk:
  - oraclejdk8

install:
  - sudo apt install python3-pip
  - pip3 install protobuf
  - pip3 install tensorflow

script:
  - mvn clean compile test
  - mvn package -Dcheckstyle.skip=true -DskipTests=true -Dmaven.javadoc.skip=true 
  - release/install.sh
